@define-color background #222222;
@define-color foreground #F7F1FF;
@define-color black #131313;
@define-color red #FC618D;
@define-color green #7BD88F;
@define-color yellow #FCE566;
@define-color blue #5AD4E6;
@define-color magenta #948AE3;
@define-color cyan #FD9353;
@define-color white #FFFFFF;
@define-color bright-black #191919;